  <div class="page-header">
    <h3>
      {{task.assignee}}
    </h3>
  </div>

  <form ng-submit="updateTask()">
    <div class="form-group">
      <input type="text" value="hello" ng-model="assignee"></input>
    </div>

    <div class="form-group">
      <textarea placeholder="Task Description" ng-model="description" value="hello"></textarea>
    </div>

    <div class="form-group">
      <input type="text" placeholder="Deadline" ng-model="deadline" value={{task.deadline}}></input>
    </div>

    <div class="form-group">
      <input type="text" placeholder="Completion" ng-model="completion" value={{task.completion}}></input>
    </div>

    <div class="form-group">
      <input type="text" placeholder="Expected Hours" ng-model="etc" value={{task.etc}}></input>
    </div>

    <button type="submit">Update</button>
  </form>