  <div class="page-header">
    <h3>
      Update task
    </h3>
  </div>

  <form ng-submit="updateTask()">
    <div class="form-group">
      <label class="taskUpdateLabels">Assignee: </label>
      <input type="text" placeholder="Assignee" ng-model="task.assignee" class="taskUpdateInputs"></input> 
    </div>

    <div class="form-group">
      <label class="taskUpdateLabels">Task Description: </label>
      <textarea placeholder="Task Description" ng-model="task.description" class="taskUpdateInputs"></textarea>
    </div>

    <div class="form-group">
      <label class="taskUpdateLabels">Deadline: </label>
      <input type="date" placeholder="Deadline" ng-model="task.deadline" class="taskUpdateInputs"></input>
    </div>

    <div class="form-group">
      <label class="taskUpdateLabels">Completion</label>
      <input type="text" placeholder="Completion" ng-model="task.completion" class="taskUpdateInputs"></input>
    </div>

    <div class="form-group">
      <label class="taskUpdateLabels">Expected Hours: </label>
      <input type="text" placeholder="Expected Hours" ng-model="task.etc" class="taskUpdateInputs"></input>
    </div>
    <br>
    <button type="submit">Update</button>
  </form>
  <div ng-show="message">
    {{message}}
  </div>