  <div class="page-header">
    <h3>
      {{task}}
    </h3>
  </div>

  <form ng-submit="updateTask()">
    <div class="form-group">
      <input type="text" placeholder="Assignee" ng-model="assignee"></input>
    </div>

    <div class="form-group">
      <textarea placeholder="Task Description" ng-model="description"></textarea>
    </div>

    <div class="form-group">
      <input type="text" placeholder="Deadline" ng-model="deadline"></input>
    </div>

    <div class="form-group">
      <input type="text" placeholder="Completion Time" ng-model="completion"></input>
    </div>

    <div class="form-group">
      <input type="text" placeholder="Expected Hours" ng-model="etc"></input>
    </div>

    <button type="submit">Update</button>
  </form>