  <div class="page-header">
    <h3>
      {{project.name}}
    </h3>
  </div>

  <div ng-repeat="task in project.tasks">
    {{task}}
  </div>

  <form ng-submit="addTask()">
    <h3>Add Task</h3>
    <div class="form-group">
      <input type="text" placeholder="Assignee" ng-model="assignee"></input>
    </div>

    <div class="form-group">
      <textarea placeholder="Task Description" ng-model="description"></textarea>
    </div>

    <div class="form-group">
      <input type="text" placeholder="Deadline" ng-model="deadline"></input>
    </div>

    <div class="form-group">
      <input type="text" placeholder="Expected Hours" ng-model="etc"></input>
    </div>

    <button type="submit">Create</button>
  </form>