  <div class="page-header">

    <form ng-show="!update" ng-submit="updateProject()" style="width: 350px">
      <h3>Update Project</h3><br>
      <div class="form-group">
        <label class="projectUpdateLabels">Project Name: </label> 
        <input class="projectUpdateInputs" type="text" placeholder="Project Name" ng-model="project.name"></input>
      </div>

      <div class="form-group">
        <label class="projectUpdateLabels">Description: </label> 
        <textarea class="projectUpdateInputs" placeholder="Project Description" ng-model="project.description"></textarea>
      </div>

      <button ng-click="toggleProject()" type="submit">Update</button>
    </form>

    <div ng-show="update">
      <h1>
        {{project.name}}
      </h1>
      <h4>
        Description: {{project.description}}
        <br>Members: {{users}}
      </h4>
      <button ng-click="toggleProject()">Update</button>
    </div>

  </div>


  <div class = "row">
    <div class = "col-md-6">
      <h3>Tasks in Progress</h3>
      <div style="width:80%" class="well" ng-repeat="task in project.tasks">
        <div style="display:inline-block">
          <a href="#/projects/{{project._id}}/tasks/{{task._id}}">
          {{task.description}}
          </a><br><br>
              Assigned to {{task.assignee}}
          <br> Estimated Time to Completion: {{task.etc}}
          <br> Deadline: {{task.deadline}}
          <br> Completion: {{task.completion}}%
        </div>
        <button type="button" style="display:inline-block; background-color:rgba(0,0,0,0); border-color:rgba(0,0,0,0)" class="btn btn-default btn-lg pull-right"> 
          <span class="glyphicon glyphicon-remove" ng-click="deleteTask(project._id, task._id)"></span> 
        </button>
      </div>
    </div>

    <div class = "col-md-6" >
      <button ng-show="add" ng-click="toggleTask()">Add Task</button>

      <form ng-show="!add" style="width:80%;background:rgba(255,255,255,0)" class="well" ng-submit="addTask()">
        <h3>Add Task</h3><br>
        <div class="form-group">
          <label class="projectUpdateLabels">Assignee: </label>
          <input type="text" placeholder="Assignee" ng-model="assignee" class="projectUpdateInputs"></input>
        </div>

        <div class="form-group">
          <label class="projectUpdateLabels">Task Description: </label>
          <textarea placeholder="Task Description" ng-model="description" class="projectUpdateInputs"></textarea>
        </div>

        <div class="form-group">
          <label class="projectUpdateLabels">Deadline: </label>
          <input type="date" placeholder="Deadline" ng-model="deadline" class="projectUpdateInputs"></input>
        </div>

        <div class="form-group">
          <label class="projectUpdateLabels">Expected Hours: </label>
          <input type="text" placeholder="Expected Hours" ng-model="etc" class="projectUpdateInputs"></input>
        </div><br>

        <button ng-click="toggleTask()" type="submit">Create</button>
      </form>
      <div ng-show="message">
        {{message}}
      </div>
    </div>