  <div class="page-header">
    <h1>Team Motivate</h1>
  	<header>You are logged in as {{user}}</header>
  </div>

  <h2>Your Projects</h2>
	<div ng-repeat="project in projects">
	  <a ng-show="user === project.leader" href="#/projects/{{project._id}}">
	    {{project.name}}
	  </a>
	  <span ng-show="user !== project.leader">
	    {{project.name}}
	  </span>
	  - Leader: {{project.leader}}
	  <span ng-show="tasks[project._id]">
	  	<br> Your Tasks:
	  </span>
	  <span ng-show="!tasks[project._id]">
	  	<br> You have no tasks for this project.
	  </span>
	  <div ng-repeat="task in tasks[project._id]">	
	  	<a href="#/projects/{{project._id}}/tasks/{{task._id}}">
			    {{task.description}}
		  </a>
			    <br> Estimated Time to Completion: {{task.etc}}
			    <br> Deadline: {{task.deadline}}
			    <br> Completion: {{task.completion}}%
	  </div>
	</div>
